.no_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-slate-700);
    font-size: 1.2em;
    gap: 16px;
    margin-top: 40px;
    width: 100%;
    border: 1px solid var(--color-slate-400);
    padding: 40px 20px;
    background-color: var(--color-slate-50);
    box-sizing: border-box;
    border-radius: 16px;
}

.contact_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}