.app_layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.app_right_panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    flex: 1;
    margin: 1rem;
    background-color: var(--color-white);
    box-sizing: border-box;
}