.auth_form {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-content: flex-start;
    background-color: var(--color-slate-50);
    border: solid 2px var(--color-slate-300);
    border-radius: 10px;
    padding: 1rem;
    margin: 3rem auto 0.5rem;
    width: 550px;
    box-sizing: border-box;
}

.auth_form .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--color-blue-light);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.auth_form .form_logo {
    width: auto;
    height: 32px;
}

.auth_form .form_title {
    color: var(--color-dark);
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem auto 0.25rem;
    width: 90%;
}

.auth_form .form_presentation {
    text-align: left;
    color: var(--color-slate-700);
    font-size: 1.1rem;
    margin: 0.25rem auto 0.5rem;
    width: 90%;
}

.auth_form .form_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem auto;
    width: 90%;
}

.auth_form .form_label {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
}

.auth_form .form_input,
.auth_form .form_select {
    font-size: 1rem;
    width: 100%;
}

.auth_form .form_centered_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
    gap: 0.5rem;
}

.auth_form .form_required_field {
    color: var(--color-red-deep);
    margin-left: 0.25rem;
}

.auth_form .form_error {
    color: var(--color-red-deep);
    font-size: 0.9rem;
    text-align: left;
    margin-top: 0.25rem;
    width: 100%;
}

.auth_form .back_home_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.25rem;
    width: 100%;
}

.auth_form .forgotten_password_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
}

.auth_form .forgotten_password {
    color: var(--color-blue-deep);
    font-size: 0.9rem;
    text-align: left;
    margin-top: 0.25rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .auth_form {
        width: 95%;
    }
}