* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-white);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.row-separator td {
    border-bottom: 1px solid var(--color-slate-400) !important;
}

.data_table thead th {
    border-bottom: 2px solid var(--color-slate-400) !important;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

input:focus::placeholder {
    color: transparent;
}