.homepage_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
}

.link_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.link_color {
    color: var(--color-blue-deep);

    &:hover {
        color: var(--color-blue-light);
        text-decoration: underline;
    }
}

.no_decoration {
    text-decoration: none;
}

.slogan {
    margin: 0 auto 0.5rem;
    color: var(--color-white);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .homepage_footer {
        width: 100%;
        max-width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
}