.homepage_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--color-slate-100);
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
}

.navigation_container {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.button_container {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .homepage_header {
        width: 100%;
        max-width: 100%;
    }

    .button_container {
        display: none;
    }
}